# Python session - 3.2

## Pandas DataFrames

https://swcarpentry.github.io/python-novice-gapminder/08-data-frames/

#### Questions
- How can I do statistical analysis of tabular data?

#### Objectives
- Select individual values from a Pandas dataframe.
- Select entire rows or entire columns from a dataframe.
- Select a subset of both rows and columns from a dataframe in a single operation.
- Select a subset of a dataframe by a single Boolean criterion.

#### First note about Pandas DataFrames/Series

A `DataFrame` is a collection of `Series`; The `DataFrame` is the way Pandas represents a table, and `Series` is the data-structure Pandas uses to represent a column.

Pandas is built on top of the Numpy library, which in practice means that most of the methods defined for Numpy's Arrays apply to Pandas' `Series`/`DataFrames`.

What makes Pandas so attractive is the powerful interface to access individual records of the table, proper handling of missing values, and relational-databases operations between `DataFrames`.

#### Use `DataFrame.iloc[..., ...]` to select values by numerical index

Can specify location by numerical index analogously to 2D version of character selection in strings.

In [6]:
import pandas

#Hints:
#index_col='country'
#data.iloc[0, 0]

# read file, make 'country' as an index for the column
df = pandas.read_csv("data/gapminder_gdp_asia.csv", index_col = 'country')

# index of the indexes of the locations or rows: iloc
df.iloc[0, 1]

#similar to the columns, a list of indexes of rows can be passed
df.iloc[range(1,6)]

#the left side of , inside the square bracket is used for rows and right side is for column

# get value from the first cell
df.iloc[0, 0]

# get values from multiple cells
df.iloc[range(1,6), range(1,6)]

# get all the rows but a few columns
df.iloc[:, [3, 5, 8, 9]]

# get all the columns but a few rows
df.iloc[[3, 5, 8, 9], :]

# in the last commands, ':' represents slicing
#: with a number defines where to slice, but without number it takes everything

#save the subset (sliced_data) in a variable
sliced_data = df.iloc[[3, 5, 8, 9], :]

#get statistics of the sliced data
sliced_data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
mean,2646.995638,3395.676500,4429.657384,5389.896686,6981.852093,9571.985896,9327.811925,9752.205579,9105.300015,10112.936864,11184.180116,14378.883438
std,1602.819029,2371.110966,3209.295533,3518.770347,4414.876267,6218.162600,6658.906301,8191.188436,10772.851560,12576.345406,13136.645424,17403.877110
min,368.469286,434.038336,496.913648,523.432314,421.624026,524.972183,624.475478,683.895573,682.303175,734.285170,896.226015,1713.778686
25%,2368.611823,2576.202816,3264.725763,4560.906932,6342.352115,8520.848983,5862.369821,5153.134922,2979.806309,2490.751139,3517.094488,3781.741101
50%,3044.873605,3459.667050,4439.989037,6052.347309,8945.982870,11537.368165,11063.120856,9143.227026,5490.646937,5669.915048,6815.739643,8038.388198
75%,3323.257421,4279.140733,5604.920658,6881.337063,9585.482849,12588.505077,14528.562960,13742.297683,11616.140643,13292.100773,14482.825271,18635.530535
max,4129.766056,6229.333562,8341.737815,8931.459811,9613.818607,14688.235070,14560.530510,20038.472690,24757.603010,28377.632190,30209.015160,39724.978670

#### Use `DataFrame.loc[..., ...]` to select values by names.

Can specify location by row name analogously to 2D version of dictionary keys.

In [9]:
# Using asia data here
# data.loc["India", "gdpPercap_1952"]

data = pandas.read_csv("data/gapminder_gdp_asia.csv", index_col='country')

data.loc["India", "gdpPercap_1952"]

# loc is like iloc, but using iloc, you can give index number for bothe rows and columns
# whereas for loc, you have to use keys/index names

# again, in the left side of a ',' inside the square bracket is reserved for rows, but the rightside is for columns

546.56574929999999

#### Use `:` on its own to mean all columns or all rows.

Just like Python’s usual slicing notation.

In [16]:
# Slice by "China", :

data.loc['China', :]

gdpPercap_1952     400.448611
gdpPercap_1957     575.987001
gdpPercap_1962     487.674018
gdpPercap_1967     612.705693
gdpPercap_1972     676.900092
gdpPercap_1977     741.237470
gdpPercap_1982     962.421380
gdpPercap_1987    1378.904018
gdpPercap_1992    1655.784158
gdpPercap_1997    2289.234136
gdpPercap_2002    3119.280896
gdpPercap_2007    4959.114854
Name: China, dtype: float64

In [17]:
# Would get the same result printing data.loc["China"] (without a second index).

data.loc["China"]

gdpPercap_1952     400.448611
gdpPercap_1957     575.987001
gdpPercap_1962     487.674018
gdpPercap_1967     612.705693
gdpPercap_1972     676.900092
gdpPercap_1977     741.237470
gdpPercap_1982     962.421380
gdpPercap_1987    1378.904018
gdpPercap_1992    1655.784158
gdpPercap_1997    2289.234136
gdpPercap_2002    3119.280896
gdpPercap_2007    4959.114854
Name: China, dtype: float64

In [23]:
# Would get a column data["gdpPercap_1952"]

data["gdpPercap_1952"]

# Also get the same result printing data.gdpPercap_1952 (since it’s a column name)
data.gdpPercap_1952

country
Afghanistan              779.445314
Bahrain                 9867.084765
Bangladesh               684.244172
Cambodia                 368.469286
China                    400.448611
Hong Kong China         3054.421209
India                    546.565749
Indonesia                749.681655
Iran                    3035.326002
Iraq                    4129.766056
Israel                  4086.522128
Japan                   3216.956347
Jordan                  1546.907807
Korea Dem. Rep.         1088.277758
Korea Rep.              1030.592226
Kuwait                108382.352900
Lebanon                 4834.804067
Malaysia                1831.132894
Mongolia                 786.566857
Myanmar                  331.000000
Nepal                    545.865723
Oman                    1828.230307
Pakistan                 684.597144
Philippines             1272.880995
Saudi Arabia            6459.554823
Singapore               2315.138227
Sri Lanka               1083.532030
Syria                   1643.485354
Taiwan                  1206.947913
Thailand                 757.797418
Vietnam                  605.066492
West Bank and Gaza      1515.592329
Yemen Rep.               781.717576
Name: gdpPercap_1952, dtype: float64

#### Select multiple columns or rows using `DataFrame.loc` and a named slice

In [24]:
# slice India to Israel, and include all columns by ':'
subset1 = data.loc['India':'Israel', :] 

# take all the rows and get data from 1972 to 1982
subset2 = data.loc[:, 'gdpPercap_1972':'gdpPercap_1982'] 

# slice rows, India to Israel, and columns, 1972 to 1982
subset3 = data.loc['India':'Israel', 'gdpPercap_1972':'gdpPercap_1982']

# in . all the cases, I have saved my subsets in different variables

In the above code, we discover that slicing using loc is inclusive at both ends, which differs from slicing using iloc, where slicing indicates everything up to but not including the final index.

#### Result of slicing can be used in further operations

- Usually don’t just print a slice.
- All the statistical operators that work on entire dataframes work the same way on slices.
    - E.g., calculate max of a slice.

In [27]:
subset4 = subset3.max()
subset4.min()

12786.93223

In [29]:
# you can do multiple operations on your dataframe or its subset

subset3.T.iloc[-1].to_csv('test_subset.csv')

'Afghanistan,978.0114388000001\nBahrain,19211.14731\nBangladesh,676.9818656\nCambodia,624.4754784\nChina,962.4213804999999\nHong Kong China,14560.530509999999\nIndia,855.7235377000001\nIndonesia,1516.872988\nIran,7608.334602\nIraq,14517.90711\nIsrael,15367.0292\nJapan,19384.10571\nJordan,4161.415959\nKorea Dem. Rep.,4106.525293\nKorea Rep.,5622.942464\nKuwait,31354.03573\nLebanon,7640.519520999999\nMalaysia,4920.355951\nMongolia,2000.603139\nMyanmar,424.0\nNepal,718.3730947\nOman,12954.791009999999\nPakistan,1443.429832\nPhilippines,2603.273765\nSaudi Arabia,33693.17525\nSingapore,15169.161119999999\nSri Lanka,1648.0797890000001\nSyria,3761.8377149999997\nTaiwan,7426.354773999999\nThailand,2393.219781\nVietnam,707.2357863\nWest Bank and Gaza,4336.032082\nYemen Rep.,1977.5570100000002\n'

#### Use comparisons to select data based on value

- Comparison is applied element by element.
- Returns a similarly-shaped dataframe of True and False.

In [31]:
# Use a subset of data to keep output readable.
subset3 #saved in my previous computation

# Which values were greater than 10000 ?
subset3>10000

          gdpPercap_1972 gdpPercap_1977 gdpPercap_1982
country
India              False          False          False
Indonesia          False          False          False
Iran               False           True          False
Iraq               False           True           True
Israel              True           True           True

#### Select values or NaN using a Boolean mask.

- A frame full of Booleans is sometimes called a mask because of how it can be used.

In [34]:
subset3[subset3>10000]

       gdpPercap_1972  gdpPercap_1977  gdpPercap_1982
count         1.00000        3.000000        2.000000
mean      12786.93223    13294.483120    14942.468155
std               NaN     1399.859451      600.419988
min       12786.93223    11888.595080    14517.907110
25%       12786.93223    12597.607145    14730.187633
50%       12786.93223    13306.619210    14942.468155
75%       12786.93223    13997.427140    15154.748677
max       12786.93223    14688.235070    15367.029200

- Get the value where the mask is true, and NaN (Not a Number) where it is false.
- Useful because NaNs are ignored by operations like max, min, average, etc.

In [35]:
subset3[subset3>10000].head()
subset3_stat = subset3[subset3>10000].describe()

#### Exercise - Selection of Individual Values

Assume Pandas has been imported into your notebook and the Gapminder GDP data for Europe has been loaded:

In [37]:
import pandas

df = pandas.read_csv('data/gapminder_gdp_europe.csv', index_col='country')

Write an expression to find the Per Capita GDP of Serbia in 2007.

In [38]:
df.loc['Serbia', 'gdpPercap_2007']

9786.5347139999994

#### Exercise - Extent of Slicing

- Do the two statements below produce the same output?
- Based on this, what rule governs what is included (or not) in numerical slices and named slices in Pandas?

```Python
print(data.iloc[0:2, 0:2])
print(data.loc['Albania':'Belgium', 'gdpPercap_1952':'gdpPercap_1962'])
```

In [39]:
print(df.iloc[0:2, 0:2])
print(df.loc['Albania':'Belgium', 'gdpPercap_1952':'gdpPercap_1962'])

         gdpPercap_1952  gdpPercap_1957
country
Albania     1601.056136     1942.284244
Austria     6137.076492     8842.598030
         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
country
Albania     1601.056136     1942.284244     2312.888958
Austria     6137.076492     8842.598030    10750.721110
Belgium     8343.105127     9714.960623    10991.206760

#### Exercise -Reconstructing Data

- Explain what each line in the following short program does: what is in first, second, etc.?

In [40]:
first = pandas.read_csv('data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
print(second.loc['Puerto Rico'])

third = second.drop('Puerto Rico')
#print(third.loc['Puerto Rico'])

fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')

continent            Americas
gdpPercap_1952        3081.96
gdpPercap_1957        3907.16
gdpPercap_1962        5108.34
gdpPercap_1967        6929.28
gdpPercap_1972        9123.04
gdpPercap_1977        9770.52
gdpPercap_1982          10331
gdpPercap_1987        12281.3
gdpPercap_1992        14641.6
gdpPercap_1997        16999.4
gdpPercap_2002        18855.6
gdpPercap_2007        19328.7
lifeExp_1952            64.28
lifeExp_1957            68.54
lifeExp_1962            69.62
lifeExp_1967             71.1
lifeExp_1972            72.16
lifeExp_1977            73.44
lifeExp_1982            73.75
lifeExp_1987            74.63
lifeExp_1992           73.911
lifeExp_1997           74.917
lifeExp_2002           77.778
lifeExp_2007           78.746
pop_1952            2.227e+06
pop_1957             2.26e+06
pop_1962          2.44805e+06
pop_1967          2.64896e+06
pop_1972          2.84713e+06
pop_1977          3.08083e+06
pop_1982            3.279e+06
pop_1987          3.44447e+06
pop_1992          3.58518e+06
pop_1997          3.75943e+06
pop_2002              3859606
pop_2007              3942491
Name: Puerto Rico, dtype: object

#### Exercise - Selecting Indices

Explain in simple terms what `idxmin` and `idxmax` do in the short program below. When would you use these methods?

In [41]:
data = pandas.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(data.idxmin())
print(data.idxmax())

gdpPercap_1952    Bosnia and Herzegovina
gdpPercap_1957    Bosnia and Herzegovina
gdpPercap_1962    Bosnia and Herzegovina
gdpPercap_1967    Bosnia and Herzegovina
gdpPercap_1972    Bosnia and Herzegovina
gdpPercap_1977    Bosnia and Herzegovina
gdpPercap_1982                   Albania
gdpPercap_1987                   Albania
gdpPercap_1992                   Albania
gdpPercap_1997                   Albania
gdpPercap_2002                   Albania
gdpPercap_2007                   Albania
dtype: object
gdpPercap_1952    Switzerland
gdpPercap_1957    Switzerland
gdpPercap_1962    Switzerland
gdpPercap_1967    Switzerland
gdpPercap_1972    Switzerland
gdpPercap_1977    Switzerland
gdpPercap_1982    Switzerland
gdpPercap_1987         Norway
gdpPercap_1992         Norway
gdpPercap_1997         Norway
gdpPercap_2002         Norway
gdpPercap_2007         Norway
dtype: object

#### Practice with Selection

Assume Pandas has been imported and the Gapminder GDP data for Europe has been loaded. Write an expression to select each of the following:

- GDP per capita for all countries in 1982.
- GDP per capita for Denmark for all years.
- GDP per capita for all countries for years after 1985.
- GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.

In [113]:
df = pandas.read_csv('data/gapminder_all.csv', index_col='country')

df.head()
df.gdpPercap_1982
df.loc['Denmark']
df.loc[:, 'gdpPercap_1985':]
df_2007_multi_of_1952 = df['gdpPercap_2007']/df['gdpPercap_1952']

### Keypoints

- Use `DataFrame.iloc[..., ...]` to select values by integer location.
- Use `:` on its own to mean all columns or all rows.
- Select multiple columns or rows using `DataFrame.loc` and a named slice.
- Result of slicing can be used in further operations.
- Use comparisons to select data based on value.
- Select values or NaN using a Boolean mask.

In [108]:
#A demonstration of how you can create and modify a dataframe

import pandas

#Create an empty df with one column 'X'
df = pandas.DataFrame(columns = ["X"]) 

#Create an empty df with two columns 'X' and 'Y'
df1 = pandas.DataFrame(columns = ["X", "Y"]) 

#Create an empty df with two columns 'X' and 'Y' and 1 row 'a'
df2 = pandas.DataFrame(columns = ["X", "Y"], index=['a'])

#Create an empty df with two columns 'X' and 'Y' and multiple rows 'a', 'b', 'c'
df3 = pandas.DataFrame(columns = ["X", "Y"], index=['a', 'b', 'c'])

#Create a df with two columns 'X' and 'Y' and multiple rows 'a', 'b', 'c', and initialize cells with 0s or 1s
df4 = pandas.DataFrame(0, columns = ["X", "Y"], index=['a', 'b', 'c'])

#insert a value for the row a
df4.loc['a'] = 1 # this will add 1 for both the cells in the row 'a'
df4.loc['a'] = [1, 12] # this will add 1 for the cell X and 12 for the cell Y in the row a

#insert a value for the column X
df4['X'] = 1 # this will add 1 for all the cells in the column 'X'
df4['X'] = [1, 20, 24] # this will add different values in the cells of the column 'X'

#insert a value in the soecific cell
df4.loc['c', 'Y'] = 34

# you can use iloc similarly
df4.iloc[1, 1] = 29

# initialize a new column with values
df4['Z'] = [22, 38, 44]

# add an empty column 
df4['ZZ'] = 0
df4

    X   Y   Z  ZZ
a   1  12  22   0
b  20  29  38   0
c  24  34  44   0

In [117]:
#sort data by first column
df4.sort_index()

#sort in reverse order
df4.sort_index(ascending=False)

#sort by a defined column
df4.sort_values(by='Y')

#sort by multiple columns
df4.sort_values(by=['Y', 'Z']) 

# REMINDER: you can always pass multiple values for the commands in pandas using [] brackets

    X   Y   Z  ZZ
a   1  12  22   0
b  20  29  38   0
c  24  34  44   0

In [121]:
#create a mask for values more than 1 in the column X
df4[df4['X']>1]

#masking by multiple values
df4[df4['X']>1 & (df4['Y']<30)]

#check null values
df4.isnull()

#replacing values
df5 = df4.replace(0, '66')
df5['ZZ'] = ['col1', 'col2', 'col3']
df5

    X   Y   Z    ZZ
a   1  12  22  col1
b  20  29  38  col2
c  24  34  44  col3

In [140]:
df6 = df5.set_index('ZZ')

In [138]:
#groupby

df6 = df5.groupby('X')['Y'].mean() #group by the column 'X' and get a mean of the values in 'Y'
df6

X
1     12
20    29
24    34
Name: Y, dtype: int64

In [130]:
# create a new dataframe ndf

ndf = pandas.DataFrame([['gene1', 299], ['gene2', 599], ['gene3', 678]], index=['col1', 'col2', 'col3'], columns=['Gene', 'Length'])
ndf

       Gene  Length
col1  gene1     299
col2  gene2     599
col3  gene3     678

In [141]:
# merge df6 and ndf

df6_ndf_1 = pandas.concat([df6, ndf]) 
df6_ndf_1
# by default the concatanation of the dataframe happens in the axis 0, or rows

       Gene  Length     X     Y     Z
col1    NaN     NaN   1.0  12.0  22.0
col2    NaN     NaN  20.0  29.0  38.0
col3    NaN     NaN  24.0  34.0  44.0
col1  gene1   299.0   NaN   NaN   NaN
col2  gene2   599.0   NaN   NaN   NaN
col3  gene3   678.0   NaN   NaN   NaN

In [142]:
# merge df6 and ndf using the column axis (axis=1)

df6_ndf_2 = pandas.concat([df6, ndf], axis=1)
df6_ndf_2

# pandas

       X   Y   Z   Gene  Length
ZZ
col1   1  12  22  gene1     299
col2  20  29  38  gene2     599
col3  24  34  44  gene3     678

In [143]:
# Optionally use join

df6_ndf_3 = ndf.join(df6)
df6_ndf_3

       Gene  Length   X   Y   Z
col1  gene1     299   1  12  22
col2  gene2     599  20  29  38
col3  gene3     678  24  34  44

In [ ]:
# tryout the commands from your cheatsheets here